<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Buscar productos, marcas y más. Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href=" ">Ofertas</a></li>
            <li><a href=" ">Tiendas Oficiales</a></li>
            <li><a href=" ">Vender</a></li>
            <li><a href=" ">Ayuda</a></li>
            &nbsp;
            <li><a href=" ">Creá tu cuenta</a></li>
            <li><a href=" ">Ingresá</a></li>
            <li><a href=" ">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <img height="79.03" width="304" src="/img/img-home-banner.jpg" alt="Banner">
        <h3>Basado en tu última vista/Ofertas</h3>
        &nbsp;
        <img height="300" width="304" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p><b>Cafetera Moulinex</b></p>
        &nbsp;
        <img height="300" width="304" src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <p>$150.970</p>
        <p>10% OFF</p>
        <p><b>Macbook Pro 2019</b></p>
        &nbsp;
        <img height="300" width="304" src="img/img-tv-samsung-smart.jpg" alt="Samsung Smart TV">
        <p>$54.230</p>
        <p><b>Televisor Samsung Smart TV</b></p>
        &nbsp;
        <img height="300" width="304" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
        <p>$89.410</p>
        <p>20% OFF</p>
        <p><b>Samsung Galaxy s10</b></p>
    </main>
    <footer>
        &nbsp;
        <p><b>Pagá con tarjeta o en efectivo</b></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
            pago. ¡Y siempre es seguro!</p>
        &nbsp;
        <p><b>Envío gratis desde $ 1.999</b></p>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        &nbsp;
        <p><b>Seguridad, de principio a fin</b></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegido.</p>
        &nbsp;
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>