<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Estilos/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Bienvenidos a Mercado Liebre</title>
</head>
<body>
    <div class="tipografia">
    <header>
        <div id="fondo-amarillo">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
    <form>
        <p class="encabezado"><input class="barra-busqueda" type="text" name="barra-busqueda" id="barra-busqueda" placeholder="Buscar productos, marcas"></p>
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
        <p class="encabezado"><i class="fas fa-hand-holding-usd iconos-encabezado"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div class= "boton-de-menu"><i class="fas fa-bars hamburguesa"></i></div>
    </div>
    </header>

    <section>
    <img class="banner" height="79.03" width="304" src="/img/img-home-banner.jpg" alt="Banner">
    </section>

    <main class="fondo">
        <section>
        <h3 class="fondo-gris-claro titulos">Basado en tu última visita</h3>
        <br>
        <article class="articulos-ultima-visita">
        <img height="300" width="304" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <i class="fas fa-truck iconos-main"></i>
        <p class="precios">$6.770</p>
        <p class="ofertas">40% off</p>
        <p class="descripciones"><b>Cafetera Moulinex</b></p>
        <div class= "fondo-gris-claro">
        <br>
    </div>
    </article>
    <article class="articulos-ultima-visita">
        <img height="300" width="304" src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <i class="fas fa-truck iconos-main"></i>
        <p class="precios">$150.970</p>
        <p class="ofertas">10% off</p>
        <p class="descripciones"><b>Macbook Pro 2019</b></p>
        <div class= "fondo-gris-claro">
            <br>
        </div>
    </article> 
    <article class="articulos-ultima-visita">
        <img height="300" width="304" src="img/img-tv-samsung-smart.jpg" alt="Samsung Smart TV">
        <i class="fas fa-truck iconos-main"></i>
        <p class="precios">$54.230</p>
        <p class="descripciones"><b>Televisor Samsung Smart TV</b></p>
        <div class= "fondo-gris-claro">
            <br>
        </div>
    </article>
    <article>
        <img height="300" width="304" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
        <i class="fas fa-truck iconos-main"></i>
        <p class="precios">$89.410</p>
        <p class="ofertas">20% off</p>
        <p class="descripciones"><b>Samsung Galaxy s10</b></p>
    </article>
    </section>

    <section>
        <div class="fondo-gris-claro">
        <h3 class="titulos">Ofertas</h3>
    </div>
    <article class="articulos-ofertas">
        <img height="300" width="304" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <i class="fas fa-truck iconos-main"></i>
        <p class="precios">$6.770</p>
        <p class="ofertas">40% off</p>
        <p class="descripciones"><b>Cafetera Moulinex</b></p>
        <div class= "fondo-gris-claro">
           <br>
        </div>
    </article>
    <article class="articulos-ofertas">
        <img height="300" width="304" src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <i class="fas fa-truck iconos-main"></i>
        <p class="precios">$150.970</p>
        <p class="ofertas">10% off</p>
        <p class="descripciones"><b>Macbook Pro 2019</b></p>
        <div class= "fondo-gris-claro">
            <br>
        </div>
    </article>
    <article class="articulos-ofertas">
        <img height="300" width="304" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
        <i class="fas fa-truck iconos-main"></i>
        <p class="precios">$89.410</p>
        <p class="ofertas">20% off</p>
        <p class="descripciones"><b>Samsung Galaxy s10</b></p>
    </article>
    </section>
    </main>
    
    <footer>
        <br>
        <article>
        <i class="fas fa-credit-card iconos-footer"></i>
        <br>
        <p><b>Pagá con tarjeta o en efectivo</b></p>
        <p class="footer-parrafos-general">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
            pago. ¡Y siempre es seguro!</p>
        <br>
    </article>
    <article>
        <i class="fas fa-gift iconos-footer"></i>
        <br>
        <p><b>Envío gratis desde $ 1.999</b></p>
        <p class="footer-parrafos-general">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <br>
    </article>
    <article>
        <i class="fas fa-user-shield iconos-footer"></i>
        <br>
        <p><b>Seguridad, de principio a fin</b></p>
        <p class="footer-parrafos-general">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegido.</p>
        &nbsp;
    </article>
    <div>
        <p id="copyright">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
    </footer>
</div>
</body>
</html>