<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Estilos/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Bienvenidos a Mercado Liebre</title>
</head>
<body>
    <div class="tipografia">
        <header>
            <div id="fondo-amarillo">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <form>
            <p class="encabezado"><input class="barra-busqueda" type="text" name="barra-busqueda" id="barra-busqueda" placeholder="Buscar productos, marcas"></p>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
            <p class="encabezado"><i class="fas fa-hand-holding-usd iconos-encabezado"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <div class= "boton-de-menu"><i class="fas fa-bars hamburguesa"></i></div>
        </div>
        </header>

        <main>
            <img height="79.03" width="304" src="/img/img-home-banner.jpg" alt="Banner">

            <form action="/index" method="GET">

                <p><input type="text" id="name" name="name" placeholder="Nombre y apellido"></p> 

                <p><input type="text" id="username" name="username" placeholder="Nombre de usuario"></p> 

                <p><input type="email" id="email" name="email" placeholder="E-mail"></p> 

                <p><label for=""><strong>Fecha de Nacimiento</strong></label></p>
                <p><input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento"></p> 

                <p><input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"></p>

                <p><label for=""><strong>Perfil del Usuario</strong></label></p>
                <p><input type="radio" name="perfilDelUsuario" value="buyer"> Comprador 
                <input type="radio" name="perfilDelUsuario" value="seller"> Vendedor </p>

                <p><label for=""><strong>Intereses</strong></label></p>
                <p>
                    <input type="checkbox" name="intereses" value="electro"> Electro
                    <input type="checkbox" name="intereses" value="moda"> Moda
                    <input type="checkbox" name="intereses" value="hogar"> Hogar
                    <input type="checkbox" name="intereses" value="juguetes"> Juguetería
                    <input type="checkbox" name="intereses" value="salud"> Vida Sana
                </p>
        
                <p><label for=""><strong>Elegí tu foto de usuario</strong></label></p>
                <input type="file" name="foto" value="fotoDeUsuario">

                <p><input type="password" id="contraseña" name="contraseña" placeholder="Elegí tu contraseña"></p>
                <p><input type="password" id="contraseña" name="contraseña" placeholder="Confirmá tu contraseña"></p>

                <p><button type="submit">Enviar</button>
                <button id="reset-button" type="reset">Borrar</button>
                </p>
            </form>
        </main>
        <footer>
            <br>
            <article>
            <i class="fas fa-credit-card iconos-footer"></i>
            <br>
            <p><b>Pagá con tarjeta o en efectivo</b></p>
            <p class="footer-parrafos-general">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
            <br>
        </article>
        <article>
            <i class="fas fa-gift iconos-footer"></i>
            <br>
            <p><b>Envío gratis desde $ 1.999</b></p>
            <p class="footer-parrafos-general">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <br>
        </article>
        <article>
            <i class="fas fa-user-shield iconos-footer"></i>
            <br>
            <p><b>Seguridad, de principio a fin</b></p>
            <p class="footer-parrafos-general">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
            &nbsp;
        </article>
        <div>
            <p id="copyright">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
        </footer>
</body>
</div>
</html>
